body {
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}

P{font-family: 'Noto Sans TC', sans-serif;

}

.text-primary {
	color:#CA82FF!important;
}		

.text-primary{
	font-size: 3rem;
	line-height: 3rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #CA82FF;
}

.bg-primary {
    background-color: #1a0017;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    
}
